<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.philipsoft.ph1l.wowcharfb">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_wow_48dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wow_48dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="wowchar.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="cl.philipsoft.ph1l.wowchar" />

        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".views.CharacterDetailsActivity"
            android:label="@string/title_activity_character_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.ChooseFactionRaceActivity" />
        <activity android:name=".views.ChooseClassActivity" />
        <activity
            android:name=".views.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/FullscreenTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>